
/*内容主区域*/
.body_contain{
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0!important;
}

.body_header{
    padding:0.7rem 0 0.7rem 0 ;
    font-size: 18px;
    padding-left: 1%;
}
.body_header span a{
    font-size: 18px;
}
.body_header .txt_xsl2:hover{
    color:#000000;
}
.body_header .txt_xsl3{
    color:#666666;
}

.contain-bg{
    background-color: #FFFFFF;
    width: 98%;
    height: 80%;
    margin-left:1%;
    border-radius: 0.3rem;
}
.contain-bg .contain-title{
    font-size:1.2rem;
    background-color: #3d9def;
    border-radius: 0.3rem;
    padding:0.5rem 0 0.5rem 0.5rem ;
    color: #FFFFFF;
}
.contain-bg .table_style{
    width:60%;
    margin: 0 auto;
    margin-top: 5%;
}
.contain-bg .table_style th{
    text-align: center;
}
.contain-bg .table_style tr{
    height: 3.8rem;
    text-align: center;
}
.btn input{
    margin-left: 44%;
    margin-top: 1%;
    background-color: #3d9def;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem;
    color: #FFFFFF;
    font-size:1.2rem;
    font-weight:500;
    cursor:pointer;
}