/*弹窗*/
html,body{height: 100%;}
#bgDiv{
	position: fixed;left: 0px;top: 0px;background-color: black;width: 100%;height: 100%;opacity: 0.2;
	z-index: 999;display: none;
}
.layui-form-label{width: 100px!important;}
#fgDiv,#fgDivLook{
    position: fixed; width: 700px;height: 400px;left: 35%;top: 25%;z-index: 9999;padding-top: 20px;box-sizing: border-box;
    border: 1px solid palegoldenrod;background-color:#FFFFFF;display: none;box-shadow: 2px 2px 2px #CCCCCC;
}
#fgDiv section,#fgDivLook section{
	width: 50%;height:40px; box-sizing:border-box;margin-bottom: 15px;float:left;
}
#fgDiv section label,#fgDivLook section label{
	float: left; display: block;padding: 9px 15px;box-sizing: border-box;
    font-weight: 400;line-height: 20px;text-align: right;width:120px;
}
#fgDiv section input,#fgDivLook section input{
	display: block;width:50%;padding-left: 10px;height: 38px;border: 1px solid #CCCCCC;
	background-color:#fff;border-radius: 2px;float: left;
}
#fgDiv button{
	margin:20px 0 0 180px;
}
#fgDivLook button{
	margin:20px 0 0 45%;
}
/*弹窗end*/
/*用户管理内容*/
.yhglContent{
	background: #f3f3f3; padding: 0.5rem 1rem;box-sizing: border-box;
	position: absolute; bottom: 0!important;
}
.smallNav{
	width: 100%;height: 40px;
}
.yhgl_nav{
	display: block; visibility:visible;padding-left:10px;box-sizing: border-box;width: 50%;height: 40px;line-height: 40px;
}
.yhgl_nav a{
	font-size: 1rem;
}
/*查询*/
.chaXun{
	height:auto; padding:20px 15px 5px 15px;box-sizing: border-box;background: #FFFFFF;
	margin: 1rem 0;font-size: 1rem;
}
.chaXun input{
	border-radius: 10px;border:1px solid #bfbfbf;
}
#idCard{
	width: 150%;
}
.btn_chaXun{
      position:absolute; right:3%; width: 100px;height:40px;background: #3d9def;color: #FFFFFF;
      text-align: center;line-height: 40px;font-size: 1.1rem;border-radius:20px;letter-spacing: 0.2rem;
      box-shadow:0px 5px 10px #b0cdfc;
  }
  .btn_chaXun:hover{
      color:#FFFFFF;
  }
  .search_bg {
    text-align: center;
    padding: 8% 0;
    box-sizing: border-box;display: none;
}
/*查询 end*/

/*表格*/
/*新增按钮*/
.xzlb {
	padding: 5px 8px;background-color: #3d9def;text-align: center;line-height: 150%; color: #FFFFFF;
	border-radius: 20px;font-size: 1rem;float: right; position:absolute; right:3%;
}
.xzlb:hover{
	color: #FFFFFF;
}
/*新增按钮end*/
.biaoGe{
	height:auto;padding:10px 10px 20px 10px;box-sizing: border-box;background: #FFFFFF;
}
.biaoGe section{
	width: 100%;height: 40px;
}
.xslb_bt{
	 display:inline-block;width: 150px;height: 35px;border-left: 5px solid #3d9def;padding-left: 10px;
	 line-height:35px;font-size: 1.2rem;font-weight: 500;letter-spacing: 0.1rem;
}
.xzxs{
	padding:5px 8px; border:1px solid #3d9def; text-align: center; line-height:150%;
	color: #999999; border-radius: 10px; font-size: 1rem; float: right; position: relative;
}
.layui-table td, .layui-table th{
	text-align: center;
}
.bg{
	padding:3px 10px;line-height:150%;border: 1px solid #BFBFBF;border-radius: 10px;
	box-sizing: border-box;margin-right: 0.2rem;
}
.bgActive{
	background:#3d9def;color:#FFFFFF;border: none;
}
.bgActive:hover{
	color: #FFFFFF;
}
.showPage{
	color: #666666;
}
.showPage select{
	border: 1px solid #3d9def;
}
/*表格 end*/
/*分页*/
.page {
    margin: 0.5rem 0 0.5rem 40%;
    width: 80%;height: 50px;
}
.page p{
	color: #999;float: left;line-height: 50px;margin-right: 1rem;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background: #3d9def;
}
 /*背景*/
  .search_bg{
      text-align: center;padding:8% 0;box-sizing: border-box;
  }
  .search_bg h2{
      color: #666666;
  }

/*教室类别新增、修改 按钮*/
.bcBtn{
	display: block;
	width: 100px;
	height: 43px;
	text-align: center;
	line-height: 44px;
	color: #FFFFFF;
	margin: 300px auto 20px auto;
	background: #3d9def;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	border-radius: 10px;
}
.bcBtn:hover{
	color: #FFFFFF;
}
/*教室类别新增、修改按钮end*/