<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrtjoa.dao.CategoryDao">
  <resultMap id="BaseResultMap" type="com.zrtjoa.entity.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="createid" jdbcType="INTEGER" property="createid" />
    <result column="createname" jdbcType="VARCHAR" property="createname" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, category, remarks, createid, createname,
    DATE_FORMAT(crttime,'%Y-%m-%d %H:%i:%S') crttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zrtjoa.entity.Category">
    insert into category (id, number, category, 
      remarks, createid, createname, 
      crttime)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR}, #{createid,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, 
      #{crttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zrtjoa.entity.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createid != null">
        createid,
      </if>
      <if test="createname != null">
        createname,
      </if>
      <if test="crttime != null">
        crttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createid != null">
        #{createid,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        #{crttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrtjoa.entity.Category">
    update category
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createid != null">
        createid = #{createid,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        createname = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        crttime = #{crttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrtjoa.entity.Category">
    update category
    set number = #{number,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      createid = #{createid,jdbcType=INTEGER},
      createname = #{createname,jdbcType=VARCHAR},
      crttime = #{crttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getcatelist" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM category order by crttime desc
  </select>
</mapper>