<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.base.dao.PlanRecordDao">
  <resultMap id="BaseResultMap" type="com.zhu.base.entity.PlanRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="datetype" jdbcType="VARCHAR" property="datetype" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, week, courseid, classroom,teacher, datetype, tid, tname, classid,classname,
    DATE_FORMAT(crttime,'%Y-%m-%d %H:%i:%S') crttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from planrecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from planrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhu.base.entity.PlanRecord">
    insert into planrecord ( week, courseid, classname , classroom , teacher,
                             datetype, tid, tname, crttime
      )values ( #{week}, #{courseid},#{classname},#{classroom},
                #{teacher}, #{datetype}, #{tid}, #{tname}, #{crttime}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zhu.base.entity.PlanRecord" useGeneratedKeys="true"
          keyColumn="id"
          keyProperty="id">
    insert into planrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="week != null">
        week,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="classroom != null">
        classroom,
      </if>
      <if test="teacher != null">
        teacher,
      </if>
      <if test="datetype != null">
        datetype,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="classname != null">
        classname,
      </if>
      crttime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="week != null">
        #{week},
      </if>
      <if test="courseid != null">
        #{courseid},
      </if>
      <if test="classroom != null">
        #{classroom},
      </if>
      <if test="teacher != null">
        #{teacher},
      </if>
      <if test="datetype != null">
        #{datetype},
      </if>
      <if test="tid != null">
        #{tid},
      </if>
      <if test="tname != null">
        #{tname},
      </if>
      <if test="classid != null">
        #{classid},
      </if>
      <if test="classname != null">
        #{classname},
      </if>
      now()
    </trim>
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.base.entity.PlanRecord">
    update planrecord
    <set>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroom != null">
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="datetype != null">
        datetype = #{datetype,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        crttime = #{crttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhu.base.entity.PlanRecord">
    update planrecord
    set week = #{week,jdbcType=VARCHAR},
      courseid = #{courseid,jdbcType=INTEGER},
      classroom = #{classroom,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      datetype = #{datetype,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      tname = #{tname,jdbcType=VARCHAR},
      crttime = #{crttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryIfExist" parameterType="com.zhu.base.entity.Courses" resultType="int">
    select count(id) from planrecord
    /*在选定的时间段内*/
    where week = #{week} and courseid = #{courseid} and (
          /*教室是否被占用*/
          classroom = #{classroom}
          /*班级是否有课*/
       or classid = #{classid}
          /*老师是否有课*/
       or teacher = #{teacher});
  </select>

  <select id="queryAllPlanRecord" resultType="com.zhu.base.entity.PlanRecord" parameterType="int">
    select <include refid="Base_Column_List"/> from planrecord where 1=1
    <if test="classid != null">
      and classid = #{value}
    </if>
  </select>

  <select id="queryPlanRecordByRecord" resultType="string" parameterType="com.zhu.base.entity.PlanRecord">
    select * from planrecord where week = #{week} and classroom = #{classroom} and status = '0';
  </select>
  <select id="queryRecordById" resultType="com.zhu.base.entity.PlanRecord" parameterType="int">
    select *
    from planrecord where id = #{value};
  </select>
</mapper>