<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.base.dao.PowerDao">
  <resultMap id="BaseResultMap" type="com.zhu.base.entity.Power">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rules" jdbcType="VARCHAR" property="rules" />
    <result column="powername" jdbcType="VARCHAR" property="powername"/>
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rules, powername, category, types ,iconcls,address,
    DATE_FORMAT(crttime,'%Y-%m-%d %H:%i:%S') crttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from power
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryPowerByPowerIds" parameterType="string" resultType="com.zhu.base.entity.Power">
    select
    <include refid="Base_Column_List"/>
    from power
    <if test="list.size()!=0">
      where id in (
      <foreach collection="list" item="id" index="index" separator=",">
        #{id}
      </foreach>
      )
    </if>

  </select>

  <select id="queryPowerList" resultType="com.zhu.base.entity.Power" parameterType="string">
      select
          <include refid="Base_Column_List"/>
      from power where 1=1
      <if test="list!=null and list.size()!=0">
        and id in
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
  </select>

</mapper>