<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.base.dao.RoleDao">
  <resultMap id="BaseResultMap" type="com.zhu.base.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="powerid" jdbcType="INTEGER" property="powerid" />
    <result column="powername" jdbcType="VARCHAR" property="powername" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rolename, powerid, powername, description, status, DATE_FORMAT(crttime,'%Y-%m-%d %H:%i:%S') crttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhu.base.entity.Role">
    insert into role ( rolename, powerid,powername, description, status,crttime)
    values ( #{rolename,jdbcType=VARCHAR}, #{powerid,jdbcType=INTEGER},
      #{powername,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},0, now())
  </insert>
  <!--批量插入-->
  <insert id="insertSelective" parameterType="com.zhu.base.entity.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="rolename != null">
        rolename,
      </if>
      <if test="powerid != null">
        powerid,
      </if>
      <if test="powername != null">
        powername,
      </if>
      <if test="description != null">
        description,
      </if>
        status,
        crttime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="powerid != null">
        #{powerid,jdbcType=INTEGER},
      </if>
      <if test="powername != null">
        #{powername,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      0,now()
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.base.entity.Role">
    update role
    <set>
      <if test="rolename != null and rolename != ''">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="powerid != null and powerid != ''">
        powerid = #{powerid,jdbcType=INTEGER},
      </if>
      <if test="powername != null and powername != ''">
        powername = #{powername,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhu.base.entity.Role">
    update role
    set rolename = #{rolename,jdbcType=VARCHAR},
      powerid = #{powerid,jdbcType=INTEGER},
      powername = #{powername,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      crttime = #{crttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据角色id list查询角色（包含权限id）-->
  <select id="queryRoleByRoleIds" parameterType="string" resultType="com.zhu.base.entity.Role">
    select
      <include refid="Base_Column_List"/>
    from role where id in (
      <foreach collection="list" item="id" index="index" separator=",">
          #{id}
      </foreach>
    )
  </select>

  <select id="roleList" resultType="com.zhu.base.entity.Role">
    select
    <include refid="Base_Column_List"/>
    from role order by crttime desc
  </select>
</mapper>