<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.base.dao.StudyMeetDao">
  <resultMap id="BaseResultMap" type="com.zhu.base.entity.StudyMeet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
    <result column="classid" jdbcType="VARCHAR" property="classid" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="emergency" jdbcType="VARCHAR" property="emergency" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sid, sname, business, classid, classname, phone, emergency,
    DATE_FORMAT(crttime,'%Y-%m-%d') crttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from studymeet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from studymeet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhu.base.entity.StudyMeet">
    insert into studymeet (id, sid, sname,business,classid, classname, phone, emergency, crttime)
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR},
      #{business,jdbcType=VARCHAR}, #{classid,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{emergency,jdbcType=VARCHAR},now())
  </insert>
  <insert id="insertSelective" parameterType="com.zhu.base.entity.StudyMeet">
    insert into studymeet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="sname != null">
        sname,
      </if>
      <if test="business != null">
        business,
      </if>
      <if test="crttime != null">
        crttime,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="emergency != null">
        emergency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        #{crttime,jdbcType=TIMESTAMP},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="emergency != null">
        #{emergency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.base.entity.StudyMeet">
    update studymeet
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        business = #{business,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        crttime = #{crttime,jdbcType=TIMESTAMP},
      </if>
      <if test="classid != null">
        classid = #{classid,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="emergency != null">
        emergency = #{emergency,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhu.base.entity.StudyMeet">
    update studymeet
    set sid = #{sid,jdbcType=INTEGER},
      sname = #{sname,jdbcType=VARCHAR},
      business = #{business,jdbcType=VARCHAR},
      crttime = #{crttime,jdbcType=TIMESTAMP},
      classid = #{classid,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      emergency = #{emergency,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateDuties" parameterType="com.zhu.base.entity.StudyMeet">
    update studymeet
    set business = #{business,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from studymeet
  </select>
  <select id="getSnameList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from studymeet
    where sname LIKE concat('%',#{sname},'%')
  </select>
</mapper>