<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.base.dao.TeachManagerDao">
  <resultMap id="BaseResultMap" type="com.zhu.base.entity.TeachManager">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="classid" jdbcType="INTEGER" property="classid" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="leavedate" jdbcType="TIMESTAMP" property="leavedate" />
    <result column="bkkssj" jdbcType="TIMESTAMP" property="bkkssj" />
    <result column="bkjssj" jdbcType="TIMESTAMP" property="bkjssj" />
    <result column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="roomname" jdbcType="VARCHAR" property="roomname" />
    <result column="auditorid" jdbcType="INTEGER" property="auditorid" />
    <result column="auditorname" jdbcType="VARCHAR" property="auditorname" />
    <result column="issure" jdbcType="VARCHAR" property="issure" />
    <result column="crttime" jdbcType="TIMESTAMP" property="crttime" />
    <result column="weeks" jdbcType="VARCHAR" property="weeks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tid, tname, classid, classname, type,
    DATE_FORMAT(starttime,'%Y-%m-%d %H:%i:%S') starttime,
    DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%S') endtime,
    DATE_FORMAT(leavedate,'%Y-%m-%d %H:%i:%S') leavedate,
    DATE_FORMAT(bkkssj,'%Y-%m-%d %H:%i:%S') bkkssj,
    DATE_FORMAT(bkjssj,'%Y-%m-%d %H:%i:%S') bkjssj,
    DATE_FORMAT(crttime,'%Y-%m-%d %H:%i:%S') crttime,
    roomid, roomname, auditorid, auditorname, issure, weeks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teachmanager
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teachmanager
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhu.base.entity.TeachManager">
    insert into teachmanager (id, tid, tname, 
      classid, classname, type, 
      starttime, endtime, leavedate, 
      bkkssj, bkjssj, roomid, 
      roomname, auditorid, auditorname, 
      issure, crttime, weeks)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR}, 
      #{classid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, now(),
      #{bkkssj,jdbcType=TIMESTAMP}, #{bkjssj,jdbcType=TIMESTAMP}, #{roomid,jdbcType=INTEGER},
      #{roomname,jdbcType=VARCHAR}, #{auditorid,jdbcType=INTEGER}, #{auditorname,jdbcType=VARCHAR}, 
      #{issure,jdbcType=VARCHAR}, now(),#{weeks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhu.base.entity.TeachManager">
    insert into teachmanager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="leavedate != null">
        leavedate,
      </if>
      <if test="bkkssj != null">
        bkkssj,
      </if>
      <if test="bkjssj != null">
        bkjssj,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
      <if test="roomname != null">
        roomname,
      </if>
      <if test="auditorid != null">
        auditorid,
      </if>
      <if test="auditorname != null">
        auditorname,
      </if>
      <if test="issure != null">
        issure,
      </if>
      <if test="crttime != null">
        crttime,
      </if>
      <if test="weeks != null">
        weeks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null">
        #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="bkkssj != null">
        #{bkkssj,jdbcType=TIMESTAMP},
      </if>
      <if test="bkjssj != null">
        #{bkjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomname != null">
        #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="auditorid != null">
        #{auditorid,jdbcType=INTEGER},
      </if>
      <if test="auditorname != null">
        #{auditorname,jdbcType=VARCHAR},
      </if>
      <if test="issure != null">
        #{issure,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        #{crttime,jdbcType=TIMESTAMP},
      </if>
      <if test="weeks != null">
        #{weeks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.base.entity.TeachManager">
    update teachmanager
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        classid = #{classid,jdbcType=INTEGER},
      </if>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null">
        leavedate = #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="bkkssj != null">
        bkkssj = #{bkkssj,jdbcType=TIMESTAMP},
      </if>
      <if test="bkjssj != null">
        bkjssj = #{bkjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="roomid != null">
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomname != null">
        roomname = #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="auditorid != null">
        auditorid = #{auditorid,jdbcType=INTEGER},
      </if>
      <if test="auditorname != null">
        auditorname = #{auditorname,jdbcType=VARCHAR},
      </if>
      <if test="issure != null">
        issure = #{issure,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        crttime = #{crttime,jdbcType=TIMESTAMP},
      </if>
      <if test="weeks != null">
        weeks = #{weeks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhu.base.entity.TeachManager">
    update teachmanager
    set tid = #{tid,jdbcType=INTEGER},
      tname = #{tname,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER},
      classname = #{classname,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      leavedate = #{leavedate,jdbcType=TIMESTAMP},
      bkkssj = #{bkkssj,jdbcType=TIMESTAMP},
      bkjssj = #{bkjssj,jdbcType=TIMESTAMP},
      roomid = #{roomid,jdbcType=INTEGER},
      roomname = #{roomname,jdbcType=VARCHAR},
      auditorid = #{auditorid,jdbcType=INTEGER},
      auditorname = #{auditorname,jdbcType=VARCHAR},
      issure = #{issure,jdbcType=VARCHAR},
      crttime = #{crttime,jdbcType=TIMESTAMP},
      weeks = #{weeks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teachmanager
    where type=#{type,jdbcType=VARCHAR}
  </select>
  <select id="getNameList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teachmanager
    where tname like concat('%',#{0},'%')
    and type=#{1}
  </select>
</mapper>