<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.base.dao.TeacherDao">
  <sql id="Base_Column_List">
    id, tnumber, tname, password, sex, age, phone, sfzh, nation, sfzaddress, address,
    workunit, classid, classname, status, roleid, majorid, majorname,
    DATE_FORMAT(birthdate,'%Y-%m-%d') birthdate,
    DATE_FORMAT(leavedate,'%Y-%m-%d %H:%i:%S') leavedate,
    DATE_FORMAT(crttime,'%Y-%m-%d %H:%i:%S') crttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.zhu.base.entity.Teacher">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--教师录入-->
  <insert id="insert" parameterType="com.zhu.base.entity.Teacher">
    insert into teacher (tnumber, tname,sex, age, phone, sfzh,birthdate,
    nation, sfzaddress,address,workunit, status, crttime
    <if test="password != null and password != '' ">
      ,password
    </if>
    <if test="roleid != null and roleid != '' ">
      ,roleid
    </if>
    <if test="classid != null and classid != '' ">
      ,classid
    </if>
    <if test="classname != null and classname != '' ">
      ,classname
    </if>
    <if test="majorid != null">
      ,majorid
    </if>
    <if test="majorname != null and majorname != '' ">
      ,majorname
    </if>
    )values (#{tnumber}, #{tname},#{sex},#{age}, #{phone}, #{sfzh},#{birthdate},
    #{nation},#{sfzaddress},#{address},#{workunit},'0', now()
    <if test="password != null and password != '' ">
      ,#{password}
    </if>
    <if test="roleid != null and roleid != '' ">
      ,#{roleid}
    </if>
    <if test="classid != null and classid != '' ">
      ,#{classid}
    </if>
    <if test="classname != null and classname != '' ">
      ,#{classname}
    </if>
    <if test="majorid != null">
      ,#{majorid}
    </if>
    <if test="majorname != null and majorname != '' ">
      ,#{majorname}
    </if>
    )
  </insert>

  <insert id="insertSelective" parameterType="com.zhu.base.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tnumber != null">
        tnumber,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="sfzh != null">
        sfzh,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="sfzaddress != null">
        sfzaddress,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="workunit != null">
        workunit,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="crttime != null">
        crttime,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
      <if test="leavedate != null">
        leavedate,
      </if>
      <if test="majorid != null">
        majorid,
      </if>
      <if test="majorname != null">
        majorname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tnumber != null">
        #{tnumber,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="sfzaddress != null">
        #{sfzaddress,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null">
        #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        #{crttime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="leavedate != null">
        #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="majorid != null">
        #{majorid,jdbcType=INTEGER},
      </if>
      <if test="majorname != null">
        #{majorname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.base.entity.Teacher">
    update teacher
    <set>
      <if test="tnumber != null and tnumber != ''">
        tnumber = #{tnumber},
      </if>
      <if test="tname != null and tname != ''">
        tname = #{tname},
      </if>
      <if test="password != null and password != ''">
        password = #{password},
      </if>
      <if test="sex != null and sex != ''">
        sex = #{sex},
      </if>
      <if test="age != null and age != ''">
        age = #{age},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone},
      </if>
      <if test="sfzh != null and sfzh != ''">
        sfzh = #{sfzh},
      </if>
      <if test="birthdate != null and birthdate != ''">
        birthdate = #{birthdate},
      </if>
      <if test="nation != null and nation != ''">
        nation = #{nation},
      </if>
      <if test="sfzaddress != null and sfzaddress != ''">
        sfzaddress = #{sfzaddress},
      </if>
      <if test="address != null and address != ''">
        address = #{address},
      </if>
      <if test="workunit != null and workunit != ''">
        workunit = #{workunit},
      </if>
      <if test="classid != null and classid != ''">
        classid = #{classid},
      </if>
      <if test="classname != null and classname != ''">
        classname = #{classname},
      </if>
      <if test="status != null and status != ''">
        status = #{status},
      </if>
      <if test="roleid != null and roleid != ''">
        roleid = #{roleid},
      </if>
      <if test="leavedate != null and leavedate != ''">
        leavedate = #{leavedate},
      </if>
      <if test="majorid != null and majorid != ''">
        majorid = #{majorid},
      </if>
      <if test="majorname != null and majorname != ''">
        majorname = #{majorname},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zhu.base.entity.Teacher">
    update teacher
    set tnumber = #{tnumber,jdbcType=VARCHAR},
      tname = #{tname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      sfzh = #{sfzh,jdbcType=VARCHAR},
      birthdate = #{birthdate,jdbcType=TIMESTAMP},
      nation = #{nation,jdbcType=VARCHAR},
      sfzaddress = #{sfzaddress,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      workunit = #{workunit,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      crttime = #{crttime,jdbcType=TIMESTAMP},
      roleid = #{roleid,jdbcType=VARCHAR},
      leavedate = #{leavedate,jdbcType=TIMESTAMP},
      majorid = #{majorid,jdbcType=INTEGER},
      majorname = #{majorname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryTeacherByNumber" parameterType="java.lang.String" resultType="com.zhu.base.entity.Teacher">
     select * from teacher where tnumber = #{value }
  </select>

  <select id="queryAllTeacher" resultType="com.zhu.base.entity.Teacher" parameterType="map">
    SELECT
      id,
      tnumber,
      tname,
      sex,
      phone,
      sfzh,
      birthdate,
      nation,
      sfzaddress,
      address,
      workunit,
      `status`,
      classid,
      roleid,
      leavedate,
      majorid,
      majorname ,
      crttime,
      ( YEAR ( now( ) ) - YEAR ( birthdate ) - 1 ) + ( DATE_FORMAT( birthdate, '%m%d' ) &lt;= DATE_FORMAT( NOW( ), '%m%d' ) )  age
    FROM
      teacher
    where 1=1
      <if test="name!=null and name != ''">
        and tname LIKE concat('%',#{name},'%')
      </if>
      <if test="idCard!=null and idCard != ''">
        and sfzh LIKE concat('%',${idCard},'%')
      </if>
    order by crttime desc
  </select>

  <select id="queryTeacherByRoleId" parameterType="int" resultType="com.zhu.base.entity.Teacher">
     select * from teacher where roleid = #{roleid}
  </select>

  <select id="queryTeacherByIdCard" parameterType="string" resultType="int">
     select count(id) from teacher where sfzh = #{sfzh}
  </select>

  <select id="queryLastTnumber" resultType="string">
     select tnumber from teacher order by id desc limit 1;
  </select>

  <select id="getteaList" parameterType="java.lang.Integer" resultType="com.zhu.base.entity.Teacher">
    select
    <include refid="Base_Column_List" />
    from teacher where majorid=#{majorid,jdbcType=INTEGER}
  </select>
</mapper>